* {
    box-sizing: border-box;
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

html {
    font-size: 16px;
}

body {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}

/**header styles**/
header {
    background-color: #f7f7f7;
    padding-bottom: 3.75rem;
}

h1 {
    font-family: "Libre Baskerville, serif";
    color: #401935;
    font-size: 3.75rem;
}

header p {
    font-family: "Libre Baskerville, serif";
    font-size: 1.5rem;
    color: #222;
    font-weight: 400;
    letter-spacing: 0;
    padding: 0 6.25rem;
    line-height: 1.5;
}

.nav-wrapper {
    background-color: #191919;
    margin-bottom: 3.75rem;
}

.nav-wrapper a {
    color: #5e5e5e;
    text-decoration: none;
    font-weight: 600;
}

nav a {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.08rem;
    padding: 1.25rem 1.875rem;
    display: inline-block;
}

nav > .active {
    color: #fff;
}

.hamburger {
    background-color: black;
    font-size: 1.688rem;
    padding: 0.65rem 1.25rem;
    display: none;
}

/* albums */
.container {
    background-color: #401935;
    padding: 1.875rem 1.25rem;
    color: white;
}

section {
    float: left;
    width: 16.666%;
    padding: 0 1%;
}

h2 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.625rem;
}
h3 {
    font-weight: 300;
    font-size: 1.125em;
    font-style: italic;
    color: #e2b8d7;
}
p {
    color: #873672;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 600;
}

img {
    max-width: 100%;
}

/* Footer */

footer {
    padding: 0.3125rem 1.25rem;
    background-color: #1b0b17;
    color: white;
}

@media only screen and (max-width: 960) {
    section {
        width: 33.333%;
        padding: 0 2% 1.25rem;
    }
    nav a {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
}

@media only screen and (max-width: 660px) {
    html {
        font-size: 14px;
    }
    h1 {
        font-size: 3rem;
    }

    header p {
        font-size: 1.4rem;
        padding: 0 1rem;
    }
    .nav-wrapper {
        text-align: right;
    }

    .hamburger {
        display: inline;
    }
    nav {
        display: none;
    }
    section {
        /*Only allow 2 pictures per line */
        width: 50%;
    }
}

@media only screen and (max-width: 450px) {
    section {
        /*Only allow 1 pictures per line */
        width: 100%;
    }
}
