body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}
div {
    border: none;
    outline: none;
    background-color: #f78fa7;
    padding: 50px 20px;
    border-radius: 4px;
    margin-left: 0px;
    transition: all 2s ease-in-out;
    animation-iteration-count: infinite;
}

div:hover {
    background-color: yellow;
    margin-left: 100px;
}
